.header{
    height: 50px;
    /* height of text */

    color: blueviolet;
    /* color of text */

    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */

    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    /* for side design */
}
.mt-3{
    /* span walaa part  */
    display: inline-block;
    margin-top: 10px;
}
